.places {
    margin-top: 40px;
    text-align: center;
}
.places h1 {
    font-size: 30px;
    text-align: left;
    padding-left: 16px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.place_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
}

article h2 {
    font-size: 30px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 32px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    padding: 3px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    float: right;
    line-height: 60px;
    margin-top: -80px;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.information p  {
    padding-top: 35px;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 5px;
}

.max_guest {
    background-image: url("../images/icon_group.png");
}

.number_rooms {
    background-image: url("../images/icon_bed.png");
}

.number_bathrooms {
    background-image: url("../images/icon_bath.png");
}

.user p {
    text-align: left;
    padding-top: 0px;
    margin-bottom: 0px;
}

.description {
    text-align: left;
}
