<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/4-common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/6-filters.css') }}">
    <link rel="icon" href="images/icon.png" />
    <title>HBnB</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	  <h3>States</h3>
	  <h4>&nbsp;</h4>
          {% if states %}
	  <div class="popover">
	    <ul>
              {% for state in states %}
	      <li>
		<h2>{{ state.name }}</h2>
                {% for city in cities if city.state_id == state.id %}
		<ul>
		  <li>{{ city.name }}</li>
		</ul>
                {% endfor %}
	      </li>
              {% endfor %}
	    </ul>
	  </div>
          {% endif %}
	</div>
	<div class="amenities">
	  <h3>Amenities</h3>
	  <h4>&nbsp;</h4>
          {% if amenities %}
	  <div class="popover">
            {% for amenity in amenities %}
	    <ul>
	      <li>{{ amenity.name }}</li>
	    </ul>
            {% endfor %}
	  </div>
          {% endif %}
	</div>
	<button type="button">Search</button>
      </section>
    </div>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>
